* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Área central */
.mapa-page {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 32px;
}

/* Card */
.mapa-card {
  width: 100%;
  max-width: 1000px;

  background: #fff;

  border: 3px solid #c0392b;
  border-radius: 20px;

  overflow: hidden;

  display: flex;
  flex-direction: column;
}

/* Container do mapa */
.mapa-container {
  width: 100%;
  height: 80vh;
  min-height: 500px;

  background: red;
}

/* Leaflet */
.leaflet-container {
  width: 100%;
  height: 100%;
}

/* textos */
.mapa-info {
  padding: 12px;
  font-size: 16px;
}

.mapa-erro {
  padding: 12px;
  color: red;
  font-size: 16px;
}

.leaflet-pane,
.leaflet-control,
.leaflet-top,
.leaflet-bottom,
.leaflet-container {
  z-index: 1 !important;
}
