/* =========================================================
   RESET GLOBAL
========================================================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  overflow-x: hidden;
}

/* =========================================================
   CONTAINER PRINCIPAL
========================================================= */
.home-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
}

/* =========================================================
   MAIN
========================================================= */
.main {
  width: 100%;
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 40px;
}

/* =========================================================
   PAINEL
========================================================= */
.painel {
  width: 50%;
  height: 90vh;

  margin-top: 10vh;
  padding: 40px;

  border-radius: 30px;

  background: linear-gradient(to bottom, #b00000 0%, #ff3c00 100%);

  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.35);
}

/* =========================================================
   TÍTULOS DO PAINEL
========================================================= */
.painel-titulo {
  text-align: center;
  margin-bottom: 60px;
}

.painel-titulo h1 {
  width: 95%;

  font-size: 2rem;
  font-weight: 400;
  margin-left: 40px;
}

.painel-titulo h2 {
  width: 30%;

  margin-top: 3vh;
  margin-left: 30vh;

  font-size: 1.8rem;
  font-weight: 400;
}

/* =========================================================
   GRID DOS CARDS
========================================================= */
.cards-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 70px;

  margin-top: 50px;
}

/* =========================================================
   CARD
========================================================= */
.card {
  width: 80%;
  min-height: 160px;
  margin-top: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 15px;

  background-color: #111116;

  font-size: 2rem;

  cursor: pointer;

  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  background-color: #1d1d24;
}

/* =========================================================
   RESPONSIVIDADE
========================================================= */

/* ---------- TABLETS ---------- */
@media (max-width: 1200px) {
  .header {
    height: auto;

    padding: 30px;

    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .painel {
    width: 95%;
  }
}

/* ---------- CELULARES ---------- */
@media (max-width: 900px) {
  .cards-grid {
    grid-template-columns: 1fr;
  }

  .nav-btn {
    font-size: 1.6rem;
  }

  .card {
    font-size: 1.5rem;
  }

  .footer {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
