* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.main-central {
  width: 100%;
  min-height: 88vh;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 30px;

  background: var(--bg-main);
}

.card-inscricao {
  width: 45%;

  background-color: var(--bg-box);

  border-radius: 24px;

  padding: 45px;

  display: flex;
  flex-direction: column;
  gap: 25px;

  border: none;

  box-shadow: 0 4px 12px var(--shadow-main);
}

.campo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.campo label {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--text-color);
}

.campo textarea,
.campo input {
  width: 100%;

  border: 1px solid transparent;
  outline: none;

  background-color: var(--bg-main);

  padding: 18px;

  border-radius: 16px;

  font-size: 1rem;

  color: var(--text-color);

  resize: none;

  transition: 0.3s;
}

.campo textarea:focus,
.campo input:focus {
  border-color: var(--hover-main);

  background-color: var(--bg-main);
}

.campo-cache input {
  width: 28%;

  border: 1px solid transparent;
  outline: none;

  background-color: var(--bg-main);

  padding: 18px;

  border-radius: 16px;

  font-size: 1rem;

  color: var(--text-color);

  resize: none;

  transition: 0.3s;
}

.campo-cache input:focus {
  border-color: var(--hover-main);
}

.campo-cache input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.campo textarea {
  min-height: 95px;
}

.campo textarea::placeholder,
.campo input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.btn-inscricao {
  margin-top: 10px;

  border: none;

  background-color: var(--btn-color);

  color: var(--text-color);

  font-size: 1.2rem;
  font-weight: 600;

  padding: 14px 22px;

  border-radius: 16px;

  cursor: pointer;

  transition: 0.3s ease;

  width: 60%;

  box-shadow: 0 4px 12px var(--shadow-main);
}

.btn-inscricao:hover {
  background-color: var(--hover-main);

  transform: translateY(-3px);
  box-shadow: 0 6px 16px var(--shadow-main);
}

.btn-inscricao:active {
  background-color: #1a0f3c;
  transform: scale(0.98);
}

@media (max-width: 1024px) {
  .card-inscricao {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .header-content {
    flex-direction: column;
    gap: 20px;
  }

  .nav {
    flex-wrap: wrap;
    justify-content: center;
  }

  .card-inscricao {
    width: 100%;
    padding: 30px;
  }

  .campo-cache input {
    width: 100%;
  }

  .btn-inscricao {
    width: 100%;
    font-size: 1rem;
  }
}
