* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.main-central {
  width: 100%;
  min-height: 88vh;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 30px;
}

.card-inscricao {
  width: 45%;

  background: linear-gradient(180deg, #b80000 0%, #ff3c00 100%);

  border-radius: 22px;

  padding: 45px;

  display: flex;
  flex-direction: column;
  gap: 25px;

  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.45);
}

.campo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.campo label {
  font-size: 1.1rem;
}

.campo textarea,
.campo input {
  width: 100%;

  border: none;
  outline: none;

  background: #df9b67;

  padding: 18px;

  border-radius: 16px;

  font-size: 1rem;

  color: white;

  resize: none;

  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.15);
}

.campo-cache input {
  width: 28%;

  border: none;
  outline: none;

  background: #df9b67;

  padding: 18px;

  border-radius: 16px;

  font-size: 1rem;

  color: white;

  resize: none;

  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.15);
}

.campo-cache input::placeholder {
  color: white;
}

.campo textarea {
  min-height: 95px;
}

.campo textarea::placeholder,
.campo input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.btn-inscricao {
  margin-top: 10px;

  border: none;
  background: #ff7300;

  color: white;

  font-size: 2rem;

  padding: 12px;

  border-radius: 12px;

  cursor: pointer;

  transition: 0.3s;

  box-shadow: 0 6px 0 #d45a00;
  width: 60%;
}

.btn-inscricao:hover {
  transform: translateY(-2px);
}

.btn-inscricao:active {
  transform: translateY(3px);

  box-shadow: 0 2px 0 #d45a00;
}

@media (max-width: 768px) {
  .header-content {
    flex-direction: column;
    gap: 20px;
  }

  .nav {
    flex-wrap: wrap;
    justify-content: center;
  }

  .card-inscricao {
    padding: 30px;
  }

  .btn-inscricao {
    font-size: 1.5rem;
  }
}
