* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--bg-main);
}

.header-senha {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 20px;
}

.header-senha img {
  height: 250px;
  position: absolute;
  z-index: -1;
  opacity: 0.8;
  margin-top: 10vh;
}

.header-senha p {
  font-size: 45px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 10vh;
}

.main-senha {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
}

.mensagem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: var(--bg-box);
  padding: 40px;
  border-radius: 20px;
  width: 400px;
  box-shadow: 0 4px 12px var(--shadow-main);
  text-align: center;
}

.mensagem h1 {
  font-size: 24px;
  margin-bottom: 5px;
}

.mensagem p {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 15px;
}

.container_credenciais {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  align-items: center;
}

.container_credenciais input {
  height: 45px;
  background-color: var(--bg-main);
  color: var(--text-color);
  width: 100%;
  max-width: 300px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0 15px;
  font-size: 16px;
  transition: 0.2s ease;
}

.container_credenciais input:focus {
  border-color: var(--hover-main);
}

.botao button {
  display: flex;
  margin: 30px auto;
  align-items: center;
  justify-content: center;
  background-color: var(--btn-color);
  color: var(--text-color);
  border: none;
  padding: 12px 30px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  transition:
    transform 0.2s,
    background-color 0.2s,
    box-shadow 0.2s;
  box-shadow: 0 4px 12px var(--shadow-main);
}

.botao button:hover {
  background-color: var(--hover-main);
  transform: scale(1.05);
  box-shadow: 0 6px 16px var(--shadow-main);
}

.botao button:active {
  background-color: #1a0f3c;
  transform: scale(1);
}
