* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.header-senha {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 20px;
}

.header-senha img {
  height: 250px;
  position: absolute;
  z-index: -1;
  opacity: 0.8;
}

.header-senha p {
  font-size: 45px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 10vh;
}

.main-senha {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
}

.mensagem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background: linear-gradient(#a3240d, rgb(216, 57, 36), rgb(240, 81, 7));
  padding: 40px;
  border-radius: 20px;
  width: 400px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.mensagem h1 {
  font-size: 24px;
  margin-bottom: 5px;
}

.mensagem p {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 15px;
}

.container_credenciais {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  align-items: center;
}

.container_credenciais input {
  height: 45px;
  background-color: white;
  color: black;
  width: 100%;
  max-width: 300px;
  border-radius: 8px;
  border: none;
  padding: 0 15px;
  font-size: 16px;
}

.botao button {
  display: flex;
  margin: 30px auto;
  align-items: center;
  justify-content: center;
  background-color: #fc7427;
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  transition:
    transform 0.2s,
    background-color 0.2s;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.botao button:hover {
  background-color: #e65a10;
  transform: scale(1.05);
}
