* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --cor-letra: #ffffff;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.header-escolha {
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-escolha p {
  font-size: 45px;
  margin-top: 10.5vh;
  font-weight: bold;
}
img {
  height: 350px;
  position: absolute;
}

.mensagem-escolha {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  color: var(--cor-letra);
  background: linear-gradient(to bottom, #d10000, #ff3d00);
  margin-top: 20vh;
  border-radius: 20px;
}

.mensagem-escolha p {
  font-size: 20px;
}

main-escolha {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

main h2 {
  font-size: 25px;
  font-weight: bold;
  color: var(--cor-letra);
  width: 300px;
}

.botao-escolha {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.botao-escolha:hover {
  transition: cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
